{{!-- https://bbbootstrap.com/snippets/bootstrap-ecommerce-shopping-cart-item-summary-44021562 --}}

<div class="modal" id="openCart" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">

            </div>


        </div>
    </div>
</div>
