<style>
  modal.in{
    z-index: 999999;
}
</style>

<footer>
  <div class="footer">
    <ul>
      <li class="ftital">Location</li>
      <li>India</li>
      <li>Canada</li>
      <li>USA</li>
    </ul>
    <ul>
      <li class="ftital"><a href="/">Home</a></li>
      <li><a href="/menu">On The Menu</a></li>
      <li><a href="/sign-in">Login</a></li>
    </ul>
    <ul>
      <li class="ftital">Contact Info</li>
      <li>+1 999-999-9999</li>
      <li>example@gmail.com</li>
      <li>Toronto,Ontario</li>
    </ul>
    <ul>
      <li class="ftital">Follow us</li>
      <li>twitter</li>
      <li>Instagram</li>
      <li>Linkdin</li>
    </ul>
  </div>
  <div class="copyright">Copyright &copy Little India, Smit Shah</div>
</footer>