<div id="video-container">
    <video preload="auto" autoplay muted loop>
        <source src="pictures/home-video.mp4" type="video/mp4">
        <source src="https://drive.google.com/uc?export=download&id=1orBmS6_Nudd1J8-U9eVXSCKaBs44L1L0" type="video/mp4">
        Your browser does not support the video tag.
    </video>

    <div class="welcome_message">
        <div>WELCOME TO LITTLE INDIA</div>
        <div>FOOD HEAVEN</div>
        <a href="/menu"><button type="button" class="btn btn-outline-light">Order Now</button></a> 
    </div>
</div>

