<link rel="stylesheet" href="/css/menu-highlights.css" />

<div class="menu-highlights">
  <h1 class="menu-high-title">MENU HIGHLIGHTS</h1>

  <div class="container-fluid text-center menu-grid">
    <div class="row">
      <div class="col-lg-7 col-md-6 left">
        <img src="/pictures/Appetizers.jpeg" alt="Appetizers" class="menu_image"/>
        <div class="menu_type_container">
          <div class="menu_type">APPETIZERS</div>
          <button type="button" class="btn btn-outline-light">Order Now</button>
        </div>
      </div>
      <div class="col">
        <img src="/pictures/soup.png" alt="Soup" class="menu_image" />
        <div class="menu_type_container">
          <div class="menu_type">SOUP</div>
          <button type="button" class="btn btn-outline-light">Order Now</button>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-6 left">
        <img src="/pictures/salad.jpg" alt="Salad" class="menu_image" />
        <div class="menu_type_container">
          <div class="menu_type">SALAD</div>
          <button type="button" class="btn btn-outline-light">Order Now</button>
        </div>
      </div>
      <div class="col">
        <img src="/pictures/meal.jpg" alt="Meal" class="menu_image" />
        <div class="menu_type_container">
          <div class="menu_type">MEAL</div>
          <button type="button" class="btn btn-outline-light">Order Now</button>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 col-md-6 left">
        <img src="/pictures/dessert.jpeg" alt="Desserts" class="menu_image" />
        <div class="menu_type_container">
          <div class="menu_type">DESSERTS</div>
          <button type="button" class="btn btn-outline-light">Order Now</button>
        </div>
      </div>
      <div class="col">
        <img src="/pictures/bevarage.jpeg" alt="Beverage" class="menu_image" />
        <div class="menu_type_container">
          <div class="menu_type">BEVERAGES</div>
          <button type="button" class="btn btn-outline-light">Order Now</button>
        </div>
      </div>
    </div>
  </div>
</div>
